@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Regular.woff") format("woff"),
    url("../fonts/SourceSansPro-Regular.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-SemiBold.woff") format("woff"),
    url("../fonts/SourceSansPro-SemiBold.ttf");
  font-weight: 700;
  font-display: swap;
}
